body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}
